@font-face {
    font-family: "BebasNeue-Regular";
    src: url("res/BebasNeue-Regular.woff2") format("woff2"),
           url("res/BebasNeue-Regular.woff") format("woff");
}
body
{
    margin: 0;
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
.backTitle
{
    position: relative;
    text-align: center;

    width:100%;
    height: auto;
    display: flex;
}
#backTop
{
    width:100%;
}
#iconTop
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height:100%;
}
.tiny   { font-size: 1em; }
.small  { font-size: 2em; }
.medium { font-size: 3em; }
.large  { font-size: 5em; }
.hidden  { display: none; }
h1 
{
    font-family: "BebasNeue-Regular";
    text-align: center;
    font-size: 4em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
@media screen and (min-width: 800px)
{
    .menu
    {
        display: table;
    }
    .menu-phone
    {
        display: none;
    }
    .menu
    {
        width: 100%;
    }
    .menu-item > svg
    {
        width: 100%;
        height: 100%;
    }
    text
    {
        fill: black;
        stroke: white;
        stroke-width:0.5px;
        stroke-linejoin: round;
    }
    .menu-item
    {
        position:relative;
        position:relative;
        text-align: center;
        width: 25%;
    }
    .menu td
    {
        text-align: center;
        font-size: 3em;
        font-family: "BebasNeue-Regular";
    }
    .menu-line
    {
        margin:0px;
        z-index: -1;
        position: absolute;
        transform: translate(-0%, -100%);
        transition: 0.2s ease;
        width: 100%;
        height: 10%;
    }
    .menu-item:hover>.menu-line
    {
        height: 100%;
        transition: 0.2s ease;
    }
}
@media screen and (max-width: 800px) 
{
    .menu
    {
        display: none;
    }
    .menu-phone
    {
        display: block;
    }
    #mpicon
    {
        top:5vh; 
        z-index: 1;
    }
    #mpcase
    {
        background-color: #0005;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0px;
        transition: 0.2s ease;

        font-family: "BebasNeue-Regular";
        font-size: 3em;
    }
    .mp-case-hidden
    {
        left:-100vw;
    }
    .mp-case-shown
    {
        left:0vw;
    }
}