- var menus = ["Accueil","Discord","Projets","Mon Compte"]
- var menuBackground = ["red","orange","green","cyan"]
- var menuFunction = ["contentAccueil","contentDiscord","contentProjets","contentMonCompte"]
- var toggleMpCase = "document.getElementById('mpcase').classList.toggle('mp-case-shown');"
html
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Bonjour le monde !
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        link(rel="stylesheet" href="main.css" type='text/css' media='screen')
        link(rel="shortcut icon" type="image/png" href="res/favicon_bjr.png")
    body
        .backTitle
            img#iconTop(src="res/icon_bjr.png" alt="icone bonjour le monde")
            img#backTop(src="res/fond_bjr.png" alt="fond bonjour le monde")
        table#menu
            each menu, index in menus
                td.menu-item.unselectable(onclick="displayContent('"+menuFunction[index]+"');")
                    div(style={"z-index": 0})= menu
                    .menu-line(style={'background-color': menuBackground[index]})
        .menu-phone
            i#mpicon.medium.material-icons(onclick=toggleMpCase) dehaze
            #mpcase.mp-case-hidden(onclick=toggleMpCase)
                #mpcontainer
                    img(src="res/icon_bjr.png" alt="icone bonjour le monde", style={width:"20%"})
                    each menu, index in menus
                        div(onclick="displayContent('"+menuFunction[index]+"');")= menu
        #contentAccueil.content-page.hidden
            h1 Bonjour le monde !
            p Bienvenue sur le site web de Bonjour le monde !
            - for (var x = 0; x < 50; x++)
                p= 'Test ' + x.toString()

        #contentDiscord.content-page.hidden
        #contentProjets.content-page.hidden
        #contentMonCompte.content-page
            include connexion.pug

        script(src="https://unpkg.com/axios/dist/axios.min.js")
        
        script(src="main.js")